.my-logo{
    height: 75px;
    width: 75px;
}

.navbar-button {
    color: #fff;
    background-color: #f1f5f5;
    border-color: #cdf8f8; 
}
.navbar-button:hover, .navbar-button:focus, .navbar-button:active, .navbar-button.active, .open>.dropdown-toggle.navbar-button {
    color: rgb(70, 71, 71);
    background-color: #9dd3df;
    border-color: #686969; 
}